@page
@{}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Students</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Student Information</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#addstudent">Register Student</button>
                    </li>
                  
                </ul>
                
            </div>
        </nav>


        <div class="container">
           
            <table class="table table-striped table-bordered table-secondary">
                <thead>
                    <tr>
                        <th scope="col">Registration Number</th>
                        <th scope="col">Name</th>
                        <th scope="col">Contact Number</th>
                        <th scope="col"></th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody id="allstudents">
                  
                </tbody>
            </table>
        </div>
    </div>







    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        var uri = 'api/Students';

        $(document).ready(function () {
            // Fetches all registered students
            $.getJSON(uri)
                .done(function (data) {

                    $("#studentsTemplate").tmpl(data).appendTo("#allstudents");
                });
        });



        function getAllStudents() {

               $.getJSON(uri)
                   .done(function (data) {

                       $("#allstudents").text("");

                    $("#studentsTemplate").tmpl(data).appendTo("#allstudents");
                });

        }

        function addStudent() {
            var studentName = $('#name').val();
            var studentContactNumber = $('#contactNumber').val();
           


            var student = {
                name: studentName,
                contactNumber: studentContactNumber
               
            };

            $.ajax({
                type: "POST",
                url: uri,
                data: JSON.stringify(student),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                $("#result").html("Success");
                getAllStudents();
            }).fail(function (jqXHR, textStatus) {
                          $("#result").html("An error occured when registering the student.");
               });




        }





        function updateStudent() {
            var studentName = $('#studentName').val();
            var studentContact = $('#studentContact').val();
          


            var student = {
                id : $('#studentId').val(),
                name: studentName,
                contactNumber: studentContact,
               };

            $.ajax({
                type: "PUT",
                url: uri+"/"+ $('#studentId').val(),
                data: JSON.stringify(student),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                $("#resultUpdate").html("Success");
                getAllStudents();
            }).fail(function (jqXHR, textStatus) {
                          $("#resultUpdate").html("An error occured When updating the student");
               });;




        }



        function remove(id) {


          var yes =  confirm("Are you sure you want to delete this student?");

            if (yes) {
                $.ajax({
                    type: "DELETE",
                    url: uri + "/" + id,

                }).done(function (response) {

                    getAllStudents();
                });

            }


        }




        function getStudentForUpdate(id) {

             $.ajax({
                type: "GET",
                url: uri+"/"+id,
               contentType: "application/json"
             }).done(function (response) {

                  $('#studentId').val(response.id);
                 $('#studentName').val(response.name) ;
                 $('#studentContact').val(response.contactNumber);
              


            });


        }
    </script>



    <script id="studentsTemplate" type="text/x-jquery-tmpl">
        <tr>
           
                   <td> ${registrationId}</td>
                    <td>${name}</td>
                    <td>${contactNumber}</td>
                
                    <td> <button class="btn btn-outline-primary" onclick="getStudentForUpdate('${id}')" data-toggle="modal" data-target="#updateStudent">Update</button></td>
                    <td> <a href="#" class="btn btn-outline-danger" onclick="remove('${id}')">Delete</a></td>

        </tr>
    </script>



    <div class="modal" tabindex="-1" role="dialog" id="addstudent">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Register Student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">

                        </div>
                        <div class="form-group">
                            <label for="contactNumber">Contact Number</label>
                            <input type="text" class="form-control" id="contactNumber" aria-describedby="emailHelp" placeholder="Contact Number">

                        </div>
                       

                        <div class="form-group" id="result">


                        </div>
                        <button type="button" onclick="addStudent()" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>




    <div class="modal" tabindex="-1" role="dialog" id="updateStudent">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="form-group">

                            <input type="hidden" class="form-control" id="studentId" aria-describedby="emailHelp" placeholder="Make">

                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="studentName" aria-describedby="emailHelp" placeholder="Name">

                        </div>
                        <div class="form-group">
                            <label for="model">Contact Number</label>
                            <input type="text" class="form-control" id="studentContact" aria-describedby="emailHelp" placeholder="Contact">

                        </div>
                      
                        <div class="form-group" id="resultUpdate">


                        </div>
                        <button type="button" onclick="updateStudent()" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</body>
</html>